<!-- This section cut from top of landing.html -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Copied from bootstrap to allow resize page based on screen size e.g. mobile phone screen -->
    <title>MedTrack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <!-- Copied from bootstrap -->
    <link rel="stylesheet" href="stylesheets/landing.css"> <!--Specify a .css file to use-->
    <%= %> <!-- For writing javascript code in .ejs files -->
  </head>
